@font-face {
  font-family: 'Viga-Regular';
  src: url('../assets/fonts/Viga-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}



/* NAVBAR */
.navbar {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.navbar-brand {
	font-family: Viga-Regular;
	font-size: 32px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 500;
}

/* Utility */
.card h1 {
  font-family: Viga-Regular, sans-serif;
}

.card p {
  font-family: Viga-Regular, sans-serif;
}

.card-details {
  padding: 25px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.card-right {
  background-color: rgba(255, 152, 0, 0.2);
  box-shadow: 0 0 2px 2px rgba(255, 152, 0, 0.2);
}

.display img {
  width: 150px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

.buy {
  text-transform: uppercase;
}

.buy .btn{
  width: 350px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.col-lg-4 {
  margin-top: 25px;   
}

/* FOOTER */
#footer {
  margin-top: 100px;
}

/* DEKSTOP VERSION */
@media (min-width: 992px) {
  .col-lg-4 {
    margin-top: 0;
  }

}