@font-face {
  font-family: 'Viga-Regular';
  src: url('../assets/fonts/Viga-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */
.navbar-brand {
	font-family: Viga-Regular;
	font-size: 32px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 500;
}

/* JUMBOTRON */
.carousel-caption {
  text-align: left;
  color: black;
  margin-bottom: 50px;
}

/* Container produk */
#produk {
  background: #eee;
  margin-top: 50px;
  padding-bottom: 50px;
}
.card {
  padding-top: 10px;
}
.card img{
  width: 115px;
  height: 208px;
}

.card img:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}


/* services */
#services {
  background-color: #212121;
  margin-top: 50px;
  padding-bottom: 50px;
}


/* utility */
.promo img:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
}

/* button */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
}

/* DEKSTOP VERSION */
@media (min-width: 992px) {
    
.carousel-caption {
  text-align: left;
  color: black;
  margin-bottom: 240px;
}
  .card img{
    width: 152px;
    height: 228px;
  }
}