@font-face {
  font-family: 'Viga-Regular';
  src: url('../assets/fonts/Viga-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */
.navbar {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.navbar-brand {
	font-family: Viga-Regular;
	font-size: 32px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 500;
}

#login {
  margin-top: 120px;
}

.card-login {
  padding: 30px;
  border: 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
}

#footer {
  margin-top: 100px;
}

img {
  width: 0;
}

h4 {
  font-size: 29px;
  font-family: Viga-Regular, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* DEKSTOP VERSION */
@media (min-width: 992px) {
   img {
     width: 346px;
     height: 380px;
   }
}