@font-face {
  font-family: 'Viga-Regular';
  src: url('../assets/fonts/Viga-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */
.navbar {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.navbar-brand {
	font-family: Viga-Regular;
	font-size: 32px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 500;
}

#register {
  margin-top: 50px;
}

#footer {
  margin-top: 100px;
}

.card {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
}