@font-face {
  font-family: 'Viga-Regular';
  src: url('../fonts/Viga-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */
.navbar-light .navbar-brand{
  font-size: 25px;
}
.navbar-brand {
	font-family: Viga-Regular;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 500;
}

/* jumbotron */
.jumbotron {
	background-image: url(../img/bg.jpg);
  background-size: cover;
  height: 630px;
	text-align: center;
}


.jumbotron .display-4 {
  color: white;
  font-family: Viga-Regular;
	margin-top: 100px;
	text-shadow: 1px 1px 1px rgba(0,0,0, .7);
	font-size: 50px;
	margin-bottom: 30px;
}

.jumbotron .display-4 span {
	font-weight: 500;
}

/* profile */
.foto {
  box-shadow: 0 0 5px 5px rgba(0,0,0, .1);
}
.card {
  padding: 25px 75px 25px 75px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
  margin-right: 20px;
}



/* DEKSTOP VERSION */
@media (min-width: 992px) {
  /* jumbotron */
  .jumbotron {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 630px;
    text-align: center;
  }
  
  .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: -3px;
  }
  
  .jumbotron .display-4 {
    color: white;
    font-family: Viga-Regular;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0,0,0, .7);
    font-size: 80px;
    margin-bottom: 30px;
  }
  
  .jumbotron .display-4 span {
    font-weight: 500;
  }
  

  /* profile */
  .foto {
    width: 250px;
  }
  .sosmed {
    position: absolute;
    font-size: 30px;
    top: 260px;
    bottom: 0;
    left: 300px;
    right: 0px;
  }
}