@font-face {
  font-family: 'Viga-Regular';
  src: url('../assets/fonts/Viga-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */
.navbar-brand {
	font-family: Viga-Regular;
	font-size: 32px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
}

#login {
  margin-top: 120px;
}

.card-login {
  padding: 30px;
}

#footer {
  margin-top: 100px;
}

h4 {
  font-size: 29px;
  font-family: Viga-Regular, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}